<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Chatbot | Visit japan web</title>
    <link rel="icon" href="/qadialog_webchat/image/favicon.ico">
  <link rel="stylesheet" href="https://hosting-for-customers.obotai.com/v2/visitjapan-sample/obotai-chatbot.css"></head>
  <body>
    <script defer="" src="https://app.webchat.obotai.com/loader/?cid=1sWEY5azBp"></script>
  

<script type="text/javascript" src="https://hosting-for-customers.obotai.com/v2/common/latest/obotai-chatbot.js" async="" charset="utf-8"></script>
<div id="obotai-chatbot-container" class="obotai-webchat wc-container wc-lang--en" style="">
    <div class="wc-app"><div class="wc-header"><span class="wc-header__logo"></span><span class="wc-header__title">
        <span>Visit Japan Web</span><span>サービスQ&amp;A</span>
        <span>チャットボット</span></span>
        <span class="wc-header__subtitle wc-flex-grow"> Powered by  <a target="_blank" href="https://obot-ai.com/"> ObotAI </a>
        </span><!----><!----><!----></div><div class="wc-notice-group"></div>
        <div class="wc-language wc-language--fixed"><button class="wc-language__item wc-lang--ja">
            <span class="wc-full-text">日本語</span><span class="wc-short-text">日</span></button>
            <button class="wc-language__item wc-active wc-lang--en">
                <span class="wc-full-text">English</span><span class="wc-short-text">En</span></button>
                <button class="wc-language__item wc-lang--zh-hans">
                    <span class="wc-full-text">简体中文</span><span class="wc-short-text">简</span></button>
                    <button class="wc-language__item wc-lang--zh-hant"><span class="wc-full-text">繁體中文</span>
                        <span class="wc-short-text">繁</span></button><button class="wc-language__item wc-lang--ko">
                            <span class="wc-full-text">한국어</span><span class="wc-short-text">한</span>
                        </button></div><!---->
                        <div class="wc-message-view-box wc-message-view-box--language-fixed wc-message-view-box--no-menu" style="overflow: hidden auto; bottom: 90px;">
                            <div class="wc-messages-group">
                                <span>
                                    <div class="wc-message wc-message--from-others wc-lang--en" id="20240325-zjmx5n7df08nqbf1k1aq">
                                        <div class="wc-message__item">
                                            <div class="wc-message__icon"><img src="https://hosting-for-customers.obotai.com/v2/visitjapan-sample/favicon.png" alt="test.jpg" width="50" height="50"></div>
                                            <div class="wcm">
                                                <div data-v-46fea35c="" class="wcm-plain-text"><p>Hello. This is an inquiry chatbot. Please refine the item you are looking for from the categories below, or enter your question directly.</p></div><!----><!----><!----><!----><!----><!----><!----><!----><!----></div>
                                            </div>
                                            <div class="wc-message__from"><span class="wc-message__from-name">vjw</span><span class="wc-message__from-status"></span>
                                                <span class="wc-message__from-time">13:58:52</span></div></div>
                                                <div class="wc-message wc-message--from-others wc-lang--en" id="20240325-zz384sh7b7xfnpwpoz31">
                                                    
                                                    <div class="wc-message__item"><div class="wc-message__icon"><img src="https://hosting-for-customers.obotai.com/v2/visitjapan-sample/favicon.png" alt="test.jpg" width="50" height="50"></div>
                                                    <div class="wcm wc-card-wrapper"><!----><!---->
                                                        <div data-v-696f50a3="" class="wcm-card"><!----><div data-v-696f50a3="" class="wcm-card__title">
                                                            <span data-v-696f50a3="" class="wcm-text">Here are the Frequently Asked Questions.</span></div>
                                                            <div data-v-696f50a3="" class="wcm-card__text"><!----></div>
                                                            <div data-v-696f50a3="" class="wcm-card__buttons"><button data-v-696f50a3="" class="wcm-button"><span data-v-696f50a3="">Is it mandatory to use?</span></button>
                                                                <button data-v-696f50a3="" class="wcm-button"><span data-v-696f50a3="">How to display QR Code I registered</span></button>
                                                                <button data-v-696f50a3="" class="wcm-button"><span data-v-696f50a3="">How do I use Visit Japan Web?</span></button><button data-v-696f50a3="" class="wcm-button">
                                                                    <span data-v-696f50a3="">Possible Immigration Procedures</span></button><button data-v-696f50a3="" class="wcm-button">
                                                                        <span data-v-696f50a3="">Do I need a visa to enter Japan?</span></button><button data-v-696f50a3="" class="wcm-button">
                                                                            <span data-v-696f50a3="">If I accidentally close the screen</span></button></div></div><!----><!----><!----><!----><!----><!----><!----></div></div>
                                                                            <div class="wc-message__from"><span class="wc-message__from-name">vjw</span>
                                                                                <span class="wc-message__from-status"></span>
                                                                                <span class="wc-message__from-time">13:58:52</span></div></div></span>
                                                                                <div class="wc-message wc-message--from-others wc-message--waiting" style="display: none;">
                                                                                    <div class="wc-message__item"><div class="wc-message__icon">
                                                                                        <img src="https://hosting-for-customers.obotai.com/v2/visitjapan-sample/favicon.png" alt="icon" width="50" height="50"></div>
                                                                                        <div class="wcm wcm--waiting"><div class="wcm--waiting__item"></div>
                                                                                        <div class="wcm--waiting__item"></div>
                                                                                        <div class="wcm--waiting__item"></div></div></div></div></div></div>
                                                                                        <div class="wc-menu wc-menu--hide"><div class="wc-menu__content wc-menu__content--hide">
                                                                                            <button class="wc-menu__content-btn"><!----><span>About Visit Japan Web</span></button>
                                                                                            <button class="wc-menu__content-btn"><!----><span>Using Visit Japan Web</span></button>
                                                                                            <button class="wc-menu__content-btn"><!----><span>About Immigration Procedures</span></button>
                <button class="wc-menu__content-btn"><!----><span>About Quarantine</span></button>
                <button class="wc-menu__content-btn"><!----><span>About Immigration Inspection</span></button>
                <button class="wc-menu__content-btn"><!----><span>About Customs Declaration</span></button>
                <button class="wc-menu__content-btn"><!----><span>About Tax Exemption Procedures</span></button>
                <button class="wc-menu__content-btn"><!----><span>About proxy input</span></button></div></div>
                <div class="wc-console"><!----><div class="wc-console__inner">
                    <button class="wc-console-btn wc-console-btn__menu wc-console-btn__menu--hide"></button><!----><!----><!---->
                    <div class="wc-console-input__wrapper"><input type="text" placeholder="Type your message..." class="wc-console-input"></div>
                    <button class="wc-console-btn wc-console-submit wc-console-btn__submit">
                        <span class="wc-console-btn__text">Send</span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="wc-console-send wc-console-icon-svg">
                            <path d="M1.2,21l18.7-8L1.2,5v6.2L14.5,13L1.2,14.8V21z" class="wc-icon-send-pt"></path></svg></button></div></div>
                            <div class="wc-overlay" style="display: none;"><div class="wc-config wc-dialog wc-info" style="display: none;">
                                <div class="wc-config__header wc-dialog__header"><span class="wc-dialog__title wc-flex-grow">Configs</span>
                                    <span class="wc-dialog__close"></span></div>
                                    <div class="wc-config__body wc-dialog__body"><!----><!----></div>
                                    <div class="wc-config__footer wc-dialog__footer"></div></div><!----><!----><!----></div><!---->
                                    <div style="display: none;"><input type="file" style="display: none;"></div></div></div>
                                </body>
                                </html>